<%- include header %>
<form method="post" enctype="multipart/form-data" action="/edit/doEdit">
    <div class="form-group">
        <label for="name">标题:</label>
        <input type="text" class="form-control" name="title" id="title" value="<%=post.title%>" placeholder="输入标题" disabled="disabled" >
    </div>
    <div class="form-group">
        <label for="name">文章</label>
        <textarea class="form-control" name="article" id="article" rows="8" ><%=post.article%></textarea>
    </div>
    <%if(login){%>
    <div class="form-group">
     <input type="text" class="form-control" name="id" id="id" value="<%=post._id%>"  style="display:none;" >
    </div>
    <%}%>
    <div class="form-group">
        <label for="name">图片</label>
        <input type="file" name="postImg" id="postImg" />
    </div>
    <hr />
    <input type="hidden" name="pv" value=0 >
    <input type="submit" value="发表" id="post" class="btn btn-default"/>
</form>
<script>
    /* $('#post').click(function(){
        $.post(
            '/edit/doEdit',
            function(result){
                if(result=='1'){
                    alert('编辑成功!');
                    window.location='/'
                }else{
                    alert('编辑失败');
                    window.location='/';
                }
            }

        );
    }); */
</script>
<%- include footer %>